<h2> <%= current_user.nickname %> </h2>

<div class="box2 m-auto mt-5">


    
    <%= form_with model: @user, url: user_path(current_user.id), class: "form-field", local: true do |f| %>
      
  <%= render 'layouts/error_messages', model: f.object %>


      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>


      <div class="actions">
        <%= f.submit "送信" %>
      </div>
    <% end %>
</div>